@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.cabecera {

    height: 70vh;
    background-image: url('./img/cabecera.jpg');
    background-size: cover;
    color: white;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 50px;
        padding-top: 30px;
        font-family: 'alata';
    }

    &__contenido {
        margin-left: 150px;
        padding: 50px;
        width: 40%;
        font-family: 'josefin sans';
        font-weight: 300;
        font-size: 70px;
        border: solid white 2px;
    }
}


@media (max-width:390px) {
    .cabecera {

        background-image: url('./img/rensponsive.jpg');
        height: 70vh;


        &__contenido {

            margin: 80px auto 0 auto;
            padding: auto 50px;
            width: 60%;
            font-size: 30px;
        }

        &__header {
            padding:30px 10px 0 10px;
            margin: auto;
        }


    }


}