@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


.informacion {

    background-image: url('./img/gafasVR.jpg');
    background-size: cover;
    width: 55%;
    height: 74.3vh;
    margin: 150px 220px;
    font-family: 'josefin sans';
    position: relative;
    
    &__contenedor {
        position: absolute;
        width: 60%;
        height: 42vh;
        top: 40.4%;
        left: 79%;
        background-color: white;
        font-weight: 300;
        padding: 50px 0 0 90px;
    }

    &__titulo{
        font-weight: 300;
        font-size: 60px;
    }

    &__contenido{
        color: gray;
    }
}



