.nav {

    &__contenedorLista {
        display: flex;
        gap: 20px;
    }

    &__lista {
        list-style: none;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0px;
            height: 5px;
            left: 50%;
            top:30px;
            bottom: 0;
            background-color: white;
            transition: all ease-out .2s;
        }
        &:hover::after {
            width: 100%;
            left: 0;

        }
        
    }

    &__menu {
        text-decoration: none;
        color: white;
    }

    &__responsiveMenu{
        display: none;
    }
}





@media (max-width:2390px) {

    .nav{
        &__menu{
            display: none;
        }

        &__responsiveMenu{
            display: flex;
            padding: 0 50px;
        }
        
    }

    
}







