@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

.seccion-titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px 0 150px;
}

.titulo {
    font-family: "josefin sans";
    font-size: xxx-large;
}

.boton {
    border: 2px solid black;
    padding: 10px 30px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s;
    font-family: "josefin sans";
    font-weight: bold;

    &:hover {
        background-color: black;
        color: white;
    }

}

.seccion-cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    max-width: max-content;
    margin: 0 auto;
}

.contenido-carta {
    position: relative;
    color: white;
    

    &:hover {
        color: black;
        cursor: pointer;
    }
}

.imagen {
    width: 95%;
    margin: 0 auto;
    &:hover {
        opacity: 50%;
    }
}

.subtitulo {
    position: absolute;
    bottom: 0;
    padding: 0 1.5em;
    font-family: "josefin sans";
    text-transform: uppercase;
    font-size: 2.0em;

}

.mobile {
    display: none;
    margin: 50px auto;
}

.escritorio {
    margin: 200px auto;
}

@media (max-width: 390px) {

    .escritorio {
        display: none;
    }

    .mobile {
        width:95%;
        display: block;
    }
    .seccion-cartas-mobile {
        display: flex;
        flex-direction: column;
        margin: 0 auto
    }

    .boton{
        margin-left: 220px;
    }

    .seccion-titulo {
       
        justify-content: space-between;
        margin: 0 auto;
    }
    
    
}