.nav {

    &__contenedorLista {
        display: flex;
        gap: 20px;
    }

    &__lista {
        list-style: none;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 0px;
            height: 5px;
            left: 50%;
            top:20px;
            bottom: 0;
            background-color: white;
            transition: all ease-out .2s;
        }
        &:hover::after {
            width: 100%;
            left: 0;

        }
        
    }

    &__menu {
        text-decoration: none;
        color: white;
    }
}











